<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    {{msg}}
    <div :id="msg"></div>
    <ul>
      <li v-for="item in list">
        <span v-if="!item.del">{{item.title}}</span>
        <span v-else style="text-decoration: line-through;">
          {{item.title}}
        </span>
        <button v-show="!item.del">删除</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        msg: 'hello',
        list: [{
            title: 'zu1',
            del: false
          }, {
            title: 'zu2',
            del: true
          }, {
            title: 'zu3',
            del: true
          }
        ]
      }
    })
  </script>
</body>

</html>